@import '../../../constants/css/styles.scss';

.page-title {
    font-family: 'Majorant-Bold';
    text-align: center;
    margin: 40px 0;

    user-select: none;
}

.slide-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}